{% extends 'hasker/base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <input class="form-control mr-sm-2"
               type="search"
               placeholder="Search"
               aria-label="Search"
               name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
{% if tag %}
    <h2>Questions tagged with {{ tag.name }}</h2>
{% endif %}
{% for question in questions %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ question.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ question.author }}</a>
            <small class="text-muted">{{ question.date_posted|date:"Ymd, H:i e" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'question-detail' question.slug question.id %}">{{ question.title }}</a></h2>
        <p class="tags">
          Tags:
          {% for tag in question.tags.all %}
            <a href="{% url 'question_list_by_tag' tag.slug %}">
              {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        <p class="article-content">{{question.content}}</p>
    </div>
    <div class="btn-group-vertical">


        <p class="rating">
            Votes
            {{ question.rating }}
        </p>
        <p class="rating">
            Answers
            {{ question.answers.count }}
        </p>

        {% if question.status == 'unanswered' %}
        <button type="button" class="btn btn-outline-alarm">Требует ответа</button>
        {% elif question.status == 'answered' %}
        <button type="button" class="btn btn-outline-success">Решено</button>
        {% endif %}

    </div>
</article>
{% endfor %}
{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb=4" href="?page=1">First</a>
<a class="btn btn-outline-info mb=4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb=4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
<a class="btn btn-outline-info mb=4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info mb=4" href="?page={{ page_obj.next_page_number }}">Next</a>
<a class="btn btn-outline-info mb=4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}
{% endblock content %}

